[submodule "2_Modulo/Mod2_PW2"]
	path = 2_Modulo/Mod2_PW2
	url = https://github.com/Lucas49l/Mod2_PW2.git
[submodule "2_Modulo/Mod2_APS"]
	path = 2_Modulo/Mod2_APS
	url = https://github.com/Lucas49l/Mod2_APS.git
[submodule "2_Modulo/Mod2_PTCC"]
	path = 2_Modulo/Mod2_PTCC
	url = https://github.com/Lucas49l/Mod2_PTCC.git
[submodule "2_Modulo/Mod2_BD2"]
	path = 2_Modulo/Mod2_BD2
	url = https://github.com/Lucas49l/Mod2_BD2.git
[submodule "2_Modulo/Mod2_SE"]
	path = 2_Modulo/Mod2_SE
	url = https://github.com/Lucas49l/Mod2_SE.git
[submodule "2_Modulo/Mod2_PAM1"]
	path = 2_Modulo/Mod2_PAM1
	url = https://github.com/Lucas49l/Mod2_PAM1.git
[submodule "2_Modulo/Mod2_DS"]
	path = 2_Modulo/Mod2_DS
	url = https://github.com/Lucas49l/Mod2_DS.git
