body{
    text-align: center;
}
select{
    text-align: center;
    width: 70px;
}
h2{
    visibility: hidden;
    

}
div{
    visibility: hidden;
    align-items: center;
    place-items: center;
}
div input{
    display: block;
    margin-top: 5px;
}
div button{
    margin-top: 10px;
}
p{
    border: 1px solid #000000;
    background-color: rgb(204, 223, 222);
    width: 100px;
    height: 20px;
}

#ex01{
  
}