/*Colocando as Fontes baixadas do glogle Fonts no css*/
@font-face{
    font-family:"BonaNova" ;
    src: url("../font/Bona_Nova_SC/BonaNovaSC-Bold.ttf");
}
@font-face{
    font-family:"BonaNovaRegular" ;
    src: url("../font/Bona_Nova_SC/BonaNovaSC-Regular.ttf");
}
@font-face{
    font-family:"BonaNovaItalic" ;
    src: url("../font/Bona_Nova_SC/BonaNovaSC-Italic.ttf");
}
@font-face{
    font-family:"kablammo" ;
    src: url("../font/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf");
}
/*para o backgroun cobrir toda a tela visivel*/
html, body{
    height: 100%;
}

body{
    width: 920px;/*Definindo o tamanho do body com width e height */
    margin: auto;/*margin auto para centralizar todo o body*/
    background: linear-gradient(to bottom, #d66508,#2196f3,#000000);/*cor de fundo*/
}
h1{
    font-family:"kablammo";/*Tipo de fonte*/
    color: #ffffff;/*cor da fonte*/
    font-size: 3em;/*tamanho da fonte*/
    text-align: center;/*centralizar o texto*/
    margin-bottom: 20px;/*aumentar o espaço externo*/
    text-shadow: 5px 5px 5px #071e31;/*adicionando uma sobra no texto*/
}
table{
    box-shadow: 10px 10px 10px black;
}
table tr td{
    padding: 10px 5px;/*aumentando o espaço interno das cédulas 10 para cima e baixo e 5 para os lados */
    text-align: center;/*centraliza o texto dentro da tabela*/
    height: 20px; /*altura das cedulas */
    font-family: "BonaNova";/*Fonte*/
    font-size: 18px;/*Tamanho da fonte*/
    color: #071e31;/*cor*/
    vertical-align: middle;
}
.dia{
    background-color: #071e31;
    border: 2px solid #000000;
}
.dia td{
    font-family:"BonaNovaItalic";
    font-weight: bolder;
    font-size: 30px;
    color: #2196f3;
    padding: 3px;
    letter-spacing: 4px;
}
.dia .hr{
    font-size: 16px;
    letter-spacing: 0px;
    width: 10px;
    color: #ffffff;
    box-shadow: 0px 10px 10px black;
}
table tr .hora{
    border-top: 2px solid #000000;   
    background-color: #020427;
    color: #ffffff;
    font-family:"BonaNovaRegular";
    padding: 20px;
    font-size: 15px;
    box-shadow: 10px 10px 10px black;
}
p{
    margin: 5px;
}
table tr .none{
    opacity: 0;
    visibility: hidden;
    border: none;
}
.imagem td{
    padding: 0;
    border: 2px solid #000000;
    background: linear-gradient(to bottom right, #d66508,#2196f3,#000000);
}
.imagem img{
    width: 80%;
    height: 5em;
    border-top: none;
    border-right: 2px solid #000000;
    border-left: 2px solid  #000000;
    border-bottom: 2px solid #000000;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.professor td{
    font-family:"BonaNovaItalic";
    font-size: 15px;
    text-shadow: 1px 1px black;
    color: rgb(225, 246, 255);
    letter-spacing: 2px;/*Espaço entre as letras*/
    background-color: #020427;
    border-left: solid 2px #000000;
    border-right: solid 2px #000000;
    border-bottom: solid 2px black;
}
.aulas td{
    border-left: solid 2px #000000;
    border-right: solid 2px #000000;
    border-bottom: solid 1px black;
    background-color: #2196f3;
}