body{
    background: url('../img/imagem.jpg');
    color: aliceblue;
} 

h1{
    background: url('../img/img2.jpeg');
    height: 100px;


}
p{
    background: url('../img/img\ 3.jpeg');
    height: 100px;
}